!!!
%html
  %head
    %title {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}
    :plain
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}" />
      <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
      <link href="http://feeds.feedburner.com/madebynathan" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />

      {% include assets.html %}

      {% include google_ajax_search.html %}

  %body.bp.two-col
    <a href="http://github.com/ndbroadbent" id="fork-on-github" target="_blank">
    <img src="https://a248.e.akamai.net/assets.github.com/img/abad93f42020b733148435e2cd92ce15c542d320/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub">
    </a>

    #container
      #header
        #logo
          %ul
            %li
              %h1 <a href="/">{{ site.title }}</a>
            %li
              %h2 {{ site.description }}
        #menu
          %ul.icons.site_links
            %li <a href="/projects" class="icons-projects" title="Project gallery">projects</a>
            %li <a href="/archive.html" class="icons-archive" title="Archive of all posts">archive</a>
            %li <a href="http://feeds.feedburner.com/madebynathan" class="icons-rss" title="Follow me via RSS" target="blank">rss</a>

            %li.no-text <a href="http://grooveshark.com/#/nathanf77" class="icons-grooveshark" title="Grooveshark" target="_blank"></a>
            %li.no-text <a href="http://www.last.fm/user/nathan_f77" class="icons-lastfm" title="Last.fm" target="_blank"></a>
            %li.no-text <a href="http://www.youtube.com/user/nathanf77" class="icons-youtube" title="Youtube" target="_blank"></a>
            %li.no-text <a href="http://twitter.com/nathanf77" class="icons-twitter" title="Twitter" target="_blank"></a>
            %li.no-text <a href="http://www.linkedin.com/profile/view?id=74450241" class="icons-linkedin" title="LinkedIn" target="_blank"></a>
            %li.no-text <a href="http://stackoverflow.com/users/304706/nathan-f77" class="icons-stackoverflow" title="Stack Overflow" target="_blank"></a>
            %li.no-text <a href="http://github.com/ndbroadbent" class="icons-github" title="Github" target="_blank"></a>

      {{ content }}

      #footer
        powered by <a href="http://jekyllrb.com/" traget="blank">jekyll</a>,
        hosted by <a href="https://github.com" traget="blank">GitHub</a>

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19054098-3']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

