:plain
  ---
  layout: default
  ---

%h1 {{ site.baseurl }}
#content
  .post
    .header
      .title
        %h3 <a href="{{ page.url }}">{{ page.title }}</a>
        %h6 {{ page.date | date: "%A, %B %d, %Y" }}
        %span.divider #{"|"}
        %h6 tagged with {{ page.tags | join " " }}
        {% include add_this_page_title.html %}

    .content
      {{ content }}

    {% if page.hackernews_url %}
    %p.hackernews
      Liked this post? Share the <span class="heart">♥</span> on <a href="{{ page.hackernews_url }}">Hacker News</a>
    {% endif %}

  #addthis_footer
    {% include add_this_page_footer.html %}
  #disqus_thread
  :javascript
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://madebynathan.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  %noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

#sidebar
  {% include sidebar/search.html %}
  {% include sidebar/related_posts.html %}
  {% include sidebar/about.html %}
  {% include sidebar/twitter.html %}
  {% include sidebar/stack_overflow.html %}

