:plain
  ---
  layout: default
  ---

%h1 {{ site.baseurl }}
#content
  .post
    .header
      .title.limit_width
        %h3 <a href="{{ page.url }}">{{ page.title }}</a>
        %h6 {{ page.date | date: "%A, %B %d, %Y" }} #{"|"} tagged with {{ page.tags | join " " }}
      .social_bar
        %ul
          %li
            %div
              :plain
                <a href="http://twitter.com/share" class="twitter-share-button"
                  data-via="madebynathan"
                  data-counturl="{{ site.url }}{{ page.url }}"
                  data-url="{% if page.short_url %}{{ page.short_url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}"
                  data-text="{{ page.title }}"
                  data-count="none"
                >Tweet</a>
          %li
            .g-plusone(data-size="standard" data-count="false" data-href="{{ post.url }}")

    .content
      {{ content }}

    {% if page.hackernews_url %}
    %p.hackernews
      Liked this post? Share the <span class="heart">♥</span> on <a href="{{ page.hackernews_url }}">Hacker News</a>
    {% endif %}
  #disqus_thread
  :javascript
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://madebynathan.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  %noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

#sidebar
  %h3 Related Posts
  .sidebar-section
    #other-posts
      %ul
        {% for post in site.related_posts limit:5 %}
        %li
          <a href="{{ post.url }}">{{ post.title }}</a>
          %h6 {{ post.date | date: "%B %d, %Y"}}
        {% endfor %}

  %h3 Search
  .sidebar-section
    #google-search

  {% include common_sidebar.html %}

