:plain
  ---
  layout: default
  ---

%h1 {{ site.baseurl }}
#content
  {% include adsense/header_leaderboard.html %}

  .post.single
    .header
      .title
        %h3 {{ page.title }}
        .subtitle
          %h6 {{ page.date | date: "%A, %B %d, %Y" }}
          %span.divider #{"|"}
          %h6 tags: {{ page.tags | join:', ' }}
          %span.divider #{"|"}
        {% include add_this_page_title.html %}

    .content
      {{ content }}

    {% if page.hackernews_url %}
    %p.hackernews
      Liked this post? Share the <span class="heart">♥</span> on <a href="{{ page.hackernews_url }}">Hacker News</a>
    {% endif %}

  #addthis_footer
    {% include add_this_page_footer.html %}

  {% include adsense/post_bottom_leaderboard.html %}

  #disqus_thread
  %noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

#sidebar
  {% include sidebar/about.html %}
  {% include sidebar/search.html %}
  {% include sidebar/related_posts.html %}
  {% include adsense/sidebar_square.html %}
  {% include sidebar/twitter.html %}
  {% include sidebar/widgets.html %}

