---
layout: default
---
<div id='content'>
  <div class='posts-list'>
    {% for post in paginator.posts %}
    <div class='post'>
      <div class='header'>
        <div class='title'>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <h6>
            {{ post.date | date: "%A, %B %d, %Y" }} | tagged with {{ post.tags | join " " }}
          </h6>
        </div>
      </div>
      <div class='content'>
        {{ post.content }}
      </div>
    </div>
    {% endfor %}
  </div>
  {% include pagination.html %}
</div>
<div id='sidebar'>
  <h3>Latest Posts</h3>
  <ul>
    {% for post in site.posts limit:5 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <br />
      {{ post.date | date: "%B %d, %Y"}}
    </li>
    {% endfor %}
  </ul>
  {% include common_sidebar.html %}
</div>
