---
layout: default
---
<div id='content'>
  {% include adsense/header_leaderboard.html %}
  <div class='posts-list'>
    {% for post in paginator.posts %}
    <div class='post'>
      <div class='header'>
        <div class='title'>
          <h3><a href="{% include post_url %}" title="Click here to share & comment">{{ post.title }}</a></h3>
          <h6>{{ post.date | date: "%A, %B %d, %Y" }}</h6>
          <span class='divider'>|</span>
          <h6>tags: {{ post.tags | join:', ' }}</h6>
        </div>
      </div>
      <div class='content'>
        {{ post.content }}
      </div>
    </div>
    {% endfor %}
  </div>
  {% include adsense/footer_leaderboard.html %}
  {% include pagination.html %}
</div>
{% include default_sidebar.html %}
