:plain
  ---
  layout: default
  title: Projects
  ---
#content
  #projects
    %h2 My Open Source projects
    %h4
      <a href="https://github.com/ndbroadbent">GitHub</a> |
      <a href="https://rubygems.org/profiles/ndbroadbent">RubyGems</a>

#sidebar
  {% include common_sidebar.html %}

:plain
  <script id="projectTemplate" type="text/x-jquery-tmpl">
    <h3>${name}</h3>
    <h6><strong>${watchers}</strong> watchers and <strong>${forks}</strong> forks on <a href="${github_url}">GitHub</a>, <strong>${downloads}</strong> downloads from <a href="${rubygems_url}">RubyGems</a></h6>
    <p>${description}</p>
  </script>

