:plain
  ---
  layout: default
  title: Projects
  ---
#content
  #projects
    %h2 My Open Source projects
    %h4
      <a href="https://github.com/ndbroadbent">GitHub</a> |
      <a href="https://rubygems.org/profiles/ndbroadbent">RubyGems</a>

    %h3 Project gallery under construction. Please check back later!

#sidebar
  {% include common_sidebar.html %}

