<section id="about">
  <h1>About</h1>
  <p>
    <img align="left" alt="1" src="http://www.gravatar.com/avatar/4931eceec58528529fd004e56af197c4.png" class="avatar">
    Hi, I'm Nathan Broadbent. I develop web and mobile applications. I like working with <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> and <a href="https://developer.apple.com/swift/">Swift</a>.
    I'm currently CTO & Co-Founder at <a href="http://hdwr.co" target="_blank">HDWR</a>.
    This blog is where I post things about web/mobile development, and the projects I do in my spare time.
  </p>
</section>
