<section id="about">
  <h1>About</h1>
  <p>
    <img align="left" alt="1" src="http://www.gravatar.com/avatar/4931eceec58528529fd004e56af197c4.png" class="avatar">
    Hi, I'm Nathan Broadbent. I develop web applications with <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>.
    I'm currently working at <a href="https://zenpayroll.com/" target="_blank">ZenPayroll</a>.
    This blog is where I post things about Ruby on Rails development, and the projects I do in my spare time.
  </p>
</section>
