 <section id="donate">
  <script id='flattrbtn-sidebar'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=nathan.f77&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('flattrbtn-sidebar');</script>

  <div id="bitcoin-donation">
    <a href="bitcoin:1EDvSf8vvKXEf5sjGDaE6DMAsMX5JfGSh9?amount=0.2&label=MadeByNathan%20Donation">
      <img src="/images/bitcoin-qr.png" width="100">
    </a>
    <span>1EDvSf8vvKXEf5sjGDaE6DMAsMX5JfGSh9</span>
  </div>
</section>
