.adsense
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-4860315399017901";
  /* Content Banner */
  google_ad_slot = "5483555341";
  google_ad_width = 468;
  google_ad_height = 60;
  //-->
  </script>

