<div id='header'>
  <div id='logo'>
    <ul>
      <li>
        <h1>
          <a href='/'>{{ site.title }}</a>
        </h1>
      </li>
      <li>
        <h2>{{ site.description }}</h2>
      </li>
    </ul>
  </div>
  <div id='menu'>
    <ul class='site_links'>
      <li>
        <a href='/projects' title='Project gallery'>
          <div class='icon icons-projects'></div>
          <span class='icon-text'>projects</span>
        </a>
      </li>
      <li>
        <a href='/tags' title='Tag cloud of categories'>
          <div class='icon icons-tags'></div>
          <span class='icon-text'>categories</span>
        </a>
      </li>
      <li>
        <a href='/archive.html' title='Archive of all posts'>
          <div class='icon icons-archive'></div>
          <span class='icon-text'>archive</span>
        </a>
      </li>
      <li>
        <a href='http://feeds.feedburner.com/madebynathan' title='Follow me via RSS'>
          <div class='icon icons-rss'></div>
          <span class='icon-text'>rss</span>
        </a>
      </li>
      <li class='no-text'>
        <a href='http://grooveshark.com/#/nathanf77' target='_blank' title='Grooveshark'>
          <div class='icon icons-grooveshark'></div>
        </a>
      </li>
      <li class='no-text'>
        <a href='http://www.last.fm/user/nathan_f77' target='_blank' title='Last.fm'>
          <div class='icon icons-lastfm'></div>
        </a>
      </li>
      <li class='no-text'>
        <a href='http://www.youtube.com/user/nathanf77' target='_blank' title='Youtube'>
          <div class='icon icons-youtube'></div>
        </a>
      </li>
      <li class='no-text'>
        <a href='http://twitter.com/nathanf77' target='_blank' title='Twitter'>
          <div class='icon icons-twitter'></div>
        </a>
      </li>
      <li class='no-text'>
        <a href='http://www.linkedin.com/profile/view?id=74450241' target='_blank' title='LinkedIn'>
          <div class='icon icons-linkedin'></div>
        </a>
      </li>
      <li class='no-text'>
        <a href='http://stackoverflow.com/users/304706/nathan-f77' target='_blank' title='Stack Overflow'>
          <div class='icon icons-stackoverflow'></div>
        </a>
      </li>
      <li class='no-text'>
        <a href='http://github.com/ndbroadbent' target='_blank' title='Fork me on Github'>
          <div class='icon icons-github'></div>
        </a>
      </li>
    </ul>
  </div>
</div>
