<a href="http://madebynathan.com/tag/bash/" title="Pages tagged bash" style="font-size: 18.0px; line-height:18.0px" rel="tag">bash</a>
<a href="http://madebynathan.com/tag/bluetooth/" title="Pages tagged bluetooth" style="font-size: 13.2px; line-height:13.2px" rel="tag">bluetooth</a>
<a href="http://madebynathan.com/tag/bugfixes/" title="Pages tagged bugfixes" style="font-size: 14.4px; line-height:14.4px" rel="tag">bugfixes</a>
<a href="http://madebynathan.com/tag/bundler/" title="Pages tagged bundler" style="font-size: 16.8px; line-height:16.8px" rel="tag">bundler</a>
<a href="http://madebynathan.com/tag/c/" title="Pages tagged c" style="font-size: 13.2px; line-height:13.2px" rel="tag">c</a>
<a href="http://madebynathan.com/tag/capistrano/" title="Pages tagged capistrano" style="font-size: 13.2px; line-height:13.2px" rel="tag">capistrano</a>
<a href="http://madebynathan.com/tag/compaq-evo-t20/" title="Pages tagged compaq-evo-t20" style="font-size: 20.4px; line-height:20.4px" rel="tag">compaq-evo-t20</a>
<a href="http://madebynathan.com/tag/continous-integration/" title="Pages tagged continous-integration" style="font-size: 13.2px; line-height:13.2px" rel="tag">continous-integration</a>
<a href="http://madebynathan.com/tag/damn-small-linux/" title="Pages tagged damn-small-linux" style="font-size: 13.2px; line-height:13.2px" rel="tag">damn-small-linux</a>
<a href="http://madebynathan.com/tag/electronics/" title="Pages tagged electronics" style="font-size: 16.8px; line-height:16.8px" rel="tag">electronics</a>
<a href="http://madebynathan.com/tag/gedit/" title="Pages tagged gedit" style="font-size: 14.4px; line-height:14.4px" rel="tag">gedit</a>
<a href="http://madebynathan.com/tag/gimp/" title="Pages tagged gimp" style="font-size: 14.4px; line-height:14.4px" rel="tag">gimp</a>
<a href="http://madebynathan.com/tag/git/" title="Pages tagged git" style="font-size: 15.6px; line-height:15.6px" rel="tag">git</a>
<a href="http://madebynathan.com/tag/greasemonkey/" title="Pages tagged greasemonkey" style="font-size: 13.2px; line-height:13.2px" rel="tag">greasemonkey</a>
<a href="http://madebynathan.com/tag/grooveshark/" title="Pages tagged grooveshark" style="font-size: 13.2px; line-height:13.2px" rel="tag">grooveshark</a>
<a href="http://madebynathan.com/tag/guides/" title="Pages tagged guides" style="font-size: 34.8px; line-height:34.8px" rel="tag">guides</a>
<a href="http://madebynathan.com/tag/home-automation/" title="Pages tagged home-automation" style="font-size: 18.0px; line-height:18.0px" rel="tag">home-automation</a>
<a href="http://madebynathan.com/tag/ios/" title="Pages tagged ios" style="font-size: 13.2px; line-height:13.2px" rel="tag">ios</a>
<a href="http://madebynathan.com/tag/iphone/" title="Pages tagged iphone" style="font-size: 19.2px; line-height:19.2px" rel="tag">iphone</a>
<a href="http://madebynathan.com/tag/jailbreak/" title="Pages tagged jailbreak" style="font-size: 18.0px; line-height:18.0px" rel="tag">jailbreak</a>
<a href="http://madebynathan.com/tag/javascript/" title="Pages tagged javascript" style="font-size: 14.4px; line-height:14.4px" rel="tag">javascript</a>
<a href="http://madebynathan.com/tag/jqgrid/" title="Pages tagged jqgrid" style="font-size: 14.4px; line-height:14.4px" rel="tag">jqgrid</a>
<a href="http://madebynathan.com/tag/lcd4linux/" title="Pages tagged lcd4linux" style="font-size: 15.6px; line-height:15.6px" rel="tag">lcd4linux</a>
<a href="http://madebynathan.com/tag/linux/" title="Pages tagged linux" style="font-size: 20.4px; line-height:20.4px" rel="tag">linux</a>
<a href="http://madebynathan.com/tag/linux,/" title="Pages tagged linux," style="font-size: 13.2px; line-height:13.2px" rel="tag">linux,</a>
<a href="http://madebynathan.com/tag/music/" title="Pages tagged music" style="font-size: 15.6px; line-height:15.6px" rel="tag">music</a>
<a href="http://madebynathan.com/tag/music,/" title="Pages tagged music," style="font-size: 13.2px; line-height:13.2px" rel="tag">music,</a>
<a href="http://madebynathan.com/tag/photography/" title="Pages tagged photography" style="font-size: 13.2px; line-height:13.2px" rel="tag">photography</a>
<a href="http://madebynathan.com/tag/plugins/" title="Pages tagged plugins" style="font-size: 14.4px; line-height:14.4px" rel="tag">plugins</a>
<a href="http://madebynathan.com/tag/projects/" title="Pages tagged projects" style="font-size: 36.0px; line-height:36.0px" rel="tag">projects</a>
<a href="http://madebynathan.com/tag/projects,/" title="Pages tagged projects," style="font-size: 13.2px; line-height:13.2px" rel="tag">projects,</a>
<a href="http://madebynathan.com/tag/rails-3/" title="Pages tagged rails-3" style="font-size: 19.2px; line-height:19.2px" rel="tag">rails-3</a>
<a href="http://madebynathan.com/tag/random/" title="Pages tagged random" style="font-size: 13.2px; line-height:13.2px" rel="tag">random</a>
<a href="http://madebynathan.com/tag/reaper/" title="Pages tagged reaper" style="font-size: 13.2px; line-height:13.2px" rel="tag">reaper</a>
<a href="http://madebynathan.com/tag/reaper,/" title="Pages tagged reaper," style="font-size: 13.2px; line-height:13.2px" rel="tag">reaper,</a>
<a href="http://madebynathan.com/tag/rspec/" title="Pages tagged rspec" style="font-size: 13.2px; line-height:13.2px" rel="tag">rspec</a>
<a href="http://madebynathan.com/tag/ruby/" title="Pages tagged ruby" style="font-size: 25.2px; line-height:25.2px" rel="tag">ruby</a>
<a href="http://madebynathan.com/tag/ruby,/" title="Pages tagged ruby," style="font-size: 13.2px; line-height:13.2px" rel="tag">ruby,</a>
<a href="http://madebynathan.com/tag/ruby-gems/" title="Pages tagged ruby-gems" style="font-size: 14.4px; line-height:14.4px" rel="tag">ruby-gems</a>
<a href="http://madebynathan.com/tag/ruby-on-rails/" title="Pages tagged ruby-on-rails" style="font-size: 25.2px; line-height:25.2px" rel="tag">ruby-on-rails</a>
<a href="http://madebynathan.com/tag/rvm/" title="Pages tagged rvm" style="font-size: 13.2px; line-height:13.2px" rel="tag">rvm</a>
<a href="http://madebynathan.com/tag/scripts/" title="Pages tagged scripts" style="font-size: 15.6px; line-height:15.6px" rel="tag">scripts</a>
<a href="http://madebynathan.com/tag/shell-fm/" title="Pages tagged shell-fm" style="font-size: 16.8px; line-height:16.8px" rel="tag">shell-fm</a>
<a href="http://madebynathan.com/tag/thoughts/" title="Pages tagged thoughts" style="font-size: 14.4px; line-height:14.4px" rel="tag">thoughts</a>
<a href="http://madebynathan.com/tag/ubuntu-9-10/" title="Pages tagged ubuntu-9-10" style="font-size: 13.2px; line-height:13.2px" rel="tag">ubuntu-9-10</a>
<a href="http://madebynathan.com/tag/ubuntu-9-10,/" title="Pages tagged ubuntu-9-10," style="font-size: 13.2px; line-height:13.2px" rel="tag">ubuntu-9-10,</a>
<a href="http://madebynathan.com/tag/videos/" title="Pages tagged videos" style="font-size: 14.4px; line-height:14.4px" rel="tag">videos</a>
<a href="http://madebynathan.com/tag/web-design/" title="Pages tagged web-design" style="font-size: 16.8px; line-height:16.8px" rel="tag">web-design</a>
<a href="http://madebynathan.com/tag/wordpress/" title="Pages tagged wordpress" style="font-size: 14.4px; line-height:14.4px" rel="tag">wordpress</a>
