#content {
  @include column(14, true);
  @include prepend(1);
  @include append(1);
  padding-top: 9px;
  padding-left: 0;
  padding-right: 0;
  width: $content-width;
  font-size: 14px;
  .post {
    margin-bottom: 20px;
    p, h4 {
      @include font-droid-sans; }
    h4 {
      margin-bottom: 0px; }
    h4 + p {
      text-indent: 2em; }
    code {
      @include font-droid-sans-mono; }
    p {
      line-height: 140%; }
    .header {
      @include column(14, true);
      width: $content-width;
      padding: 6px 0 3px 0;
      .title {
        display: inline-block;
        @include post-title;
        margin: 0;
        margin-bottom: 4px;
        // limit width to allow room for social bar
        &.limit_width {
          @include column(11);
          width: 416px;
        }
        h3 {
          font-size: 22px;
          line-height: 110%;
          padding-bottom: 0;
          a, a:visited {
             text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        h6 {
          text-shadow: 1px 1px 0 #FFFFFF;
          margin-top: 1px;
          font-size: 14px;
        } }
      .social_bar {
        @include column(3, true);
        width: 120px;
        ul {
          list-style-type: none;
          float: right;
          margin-right: 0px;
          li {
            display: inline-block; } } } }
    .content {
      background-color: #fff;
      @include border-indent(1px, 1px, 4px, #bbb);
      padding: 14px 17px 14px;
      clear: both;
    }
    img {
      @include border-shadow(1px, 1px, 3px, #555); }
    .highlight {
      background-color: #303030;
      color: #d4d4d4;
      font-size: 12px;
      padding: 10px;
      margin-bottom: 20px;
      @include border-radius(3px);
      overflow: auto;
      border: 2px solid #dedede;
      pre {
        margin: 0px; } }
    .hackernews {
      font-size: 1.3em;
      text-align: right;
      .heart {
        color: #cc0000; }
      a, a:visited {
        background: transparent url(/images/hackernews.png) no-repeat center left;
        display: inline-block;
        padding-left: 16px; } }
    blockquote {
      p {
        @include font-lucida-unicode;
        font-size: 48px;
      }
      p:before {
        content: "“";
        float: left;
        margin-top: -12px; }
      p:after {
        content: "”";
        float: right; } } }
  .post-excerpt {
    margin-bottom: 20px;
    @include post-title;
    h3 a {
      text-decoration: none;
    }
    h6 {
      margin: 0px;
      font-size: 12px; }
    p {
      @include font-droid-sans; } }
  #search {
    .result {
      @include post-title; } }
  #projects {
    @include post-title;
    h2 {
      @include font-francois-one;
      text-align: center;
      color: $dark-gray;
      margin-bottom: 12px; }
    h3 {
      color: $dark-gray; }
    h4 {
      @include font-francois-one;
      text-align: center;
      color: $light-header;
      a, a:visited {
        color: $light-header; } }
    h6 {
      margin-bottom: 0px;
      a, a:visited {
        color: $light-header; }
      strong {
        color: $dark-gray; } } } }

