#content {
  @include column(14, true);
  @include prepend(1);
  @include append(1);
  padding-top: 5px;
  padding-left: 0;
  padding-right: 0;
  width: $content-width;
  font-size: 14px;
  h2 {
    color: #888;
    font-size: 26px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    @include font-francois-one;
    border-bottom: 2px solid #bbb;
  }
  .post {
    margin-bottom: 20px;
    p, h4 {
      @include font-droid-sans; }
    h4 {
      margin-bottom: 0px; }
    h4 + p {
      text-indent: 2em; }
    code {
      @include font-droid-sans-mono; }
    p {
      line-height: 140%; }
    .header {
      @include column(14, true);
      width: $content-width;
      padding: 6px 0 3px 0;
      .title {
        display: inline;
        @include post-title;
        margin: 0;
        margin-bottom: 4px;
        span.divider {
          color: #ccc;
          margin: 0 2px;
        }
        h3 {
          font-size: 22px;
          line-height: 110%;
          padding-bottom: 1px;
          a, a:visited {
             text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        h6 {
          text-shadow: 1px 1px 0 #FFFFFF;
          margin-top: 1px;
          font-size: 14px;
          display: inline;
        } }
      .social_bar {
        margin: 3px 0 3px -2px; }
      .addthis_inline {
        margin: 7px 0;
      } }
    .content {
      background-color: #fff;
      @include border-indent(1px, 1px, 4px, #bbb);
      padding: 17px 20px;
      clear: both;
    }
    img {
      @include border-shadow(2px, 2px, 6px, #999); }
    .highlight {
      background-color: #303030;
      color: #d4d4d4;
      font-size: 12px;
      padding: 10px;
      margin-bottom: 20px;
      @include border-radius(3px);
      overflow: auto;
      border: 2px solid #dedede;
      pre {
        margin: 0px; } }
    .hackernews {
      font-size: 1.3em;
      text-align: right;
      .heart {
        color: #cc0000; }
      a, a:visited {
        background: transparent url(/images/hackernews.png) no-repeat center left;
        display: inline-block;
        padding-left: 16px; } }
    blockquote {
      p {
        @include font-lucida-unicode;
        font-size: 48px;
      }
      p:before {
        content: "“";
        float: left;
        margin-top: -12px; }
      p:after {
        content: "”";
        float: right; } } }
  #addthis_footer {
    margin-bottom: 10px;
  }
  #disqus_thread {
  }
  #tag_cloud {
    h3 {
      color: #555555;
      font-size: 39px;
      margin-bottom: 10px;
      @include font-francois-one;
    }
    margin-top: 15px;
    a {
      margin: 3px;
      padding: 1px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .post-excerpt {
    margin-bottom: 20px;
    @include post-title;
    h3 a {
      text-decoration: none;
    }
    h6 {
      margin: 0px;
      font-size: 12px; }
    p {
      @include font-droid-sans; } }
  #search {
    .result {
      @include post-title; } }
  #projects {
    @include post-title;
    h2 {
      @include font-francois-one;
      text-align: center;
      color: $dark-gray;
      margin-bottom: 12px; }
    h3 {
      color: $dark-gray; }
    h4 {
      @include font-francois-one;
      text-align: center;
      color: $light-header;
      a, a:visited {
        color: $light-header; } }
    h6 {
      margin-bottom: 0px;
      a, a:visited {
        color: $light-header; }
      strong {
        color: $dark-gray; } } } }

