#header {
  @include column(24);
  margin-top: 18px;
  padding-bottom: 10px;
  a {
    text-decoration: none; }
  #logo {
    @include column(9);
    margin-right: 0;
    h1, h2 {
      text-shadow: 1px 1px 0 #ffffff;
    }
    h1 {
      margin-bottom: 0px;
      @include font-amaranth;
      font-size: 42px;
    a:hover {
      color: #555555; } }
    h2 {
      color: #aaaaaa;
      @include font-francois-one;
      font-size: 16px;
      margin: 3px 0 5px; } }
  #menu {
    @include column(14, true);
    @include font-francois-one;
    margin-top: 25px;
    a, a:visited {
      color: #5577AA; }
    a:hover {
      color: #335588; }
    ul {
      list-style-type: none;
      float: right;
      margin: 0;
      background-color: #E7E7E7;
      border-bottom: 1px solid #DDDDDD;
      border-right: 1px solid #DDDDDD;
      border-radius: 5px 5px 5px 5px;
      li {
        display: inline;
        margin-left: 0;
        a { line-height: 23px; }
        form {
          width: 100px;
          display: inline; } } } } }

