#header {
  @include column(24);
  margin-top: 18px;
  ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    li { display: inline; }
  }
  a {
    text-decoration: none; }
  #logo {
    margin-bottom: 20px;
    h1, h2 {
      text-shadow: 1px 1px 0 #ffffff;
      display: inline;
    }
    h1 {
      margin-bottom: 0px;
      @include font-amaranth;
      font-size: 42px;
    a:hover {
      color: #555555; } }
    h2 {
      color: #85A085;
      @include font-francois-one;
      font-size: 1.3em;
      margin: 3px 10px 5px;
      vertical-align: bottom; } }
  #menu {
    @include font-francois-one;
    clear: both;
    float: left;
    width: $content-width;
    margin-bottom: 8px;
    a, a:visited {
      color: #444; }
    a:hover {
      color: #333; }
    ul.icons {
      margin: 0;
      padding: 7px 4px 8px 9px;
      @include background-gradient(#fefefe, #e2e2e2);
      border-bottom: 1px solid #c7c7c7;
      border-right: 1px solid #c7c7c7;
      border-radius: 5px 5px 5px 5px;
      li {
        margin-left: 0;
        margin-right: 14px;
        a { line-height: 23px; }
        form {
          width: 100px;
          display: inline; } }
      li.no-text {
        float: right;
        margin-right: 3px;
        a {
          padding-left: 32px;
        } }
      &.profiles {
        margin-left: 30px;
      } } } }

