//  +blueprint-inline-form
// // You'll probably want to remove the scaffolding once you start styling your site.
//  +blueprint-scaffolding
@mixin post-title {
  h3, h2 {
    margin-bottom: 0px;
    @include font-francois-one; }
  h6 {
    color: $light-gray;
    margin: 2px 0 2px;
    @include font-helvetica; } }

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius; }

@mixin border-shadow($horizontal, $vertical, $blur, $colour) {
  -moz-box-shadow: $horizontal $vertical $blur $colour;
  box-shadow: $horizontal $vertical $blur $colour;
  -webkit-box-shadow: $horizontal $vertical $blur $colour; }

@mixin border-indent($horizontal, $vertical, $blur, $colour) {
  -moz-box-shadow: $horizontal $vertical $blur $colour inset;
  box-shadow: $horizontal $vertical $blur $colour inset;
  -webkit-box-shadow: $horizontal $vertical $blur $colour inset; }

@mixin background-gradient($start, $end) {
  background-color: $start;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from($start), to($end));
  background-image: -moz-linear-gradient($start, $end);
  background-image: -ms-linear-gradient($start, $end);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(100%, $end));
  background-image: -webkit-linear-gradient($start, $end);
  background-image: -o-linear-gradient($start, $end);
  background-image: linear-gradient($start, $end); }

