body.bp {
  .pagination {
    text-align: center;
    padding: 18px 0;
    border-top: 1px solid #ccc;
    @include border-indent(0, 1px, 0, #fff);
    h3 {
      display: inline-block;
      margin: 0;
      @include background-gradient(#f0f0f0, #dfdfdf);
      border-radius: 7px 7px 7px 7px;
      padding: 10px 10px 9px 14px;
      vertical-align: middle;
      border: 1px solid #999;
      border-color: #fafafa #999 #999 #fafafa;
      @include font-droid-sans;
      color: #444;
      &:hover {
        @include background-gradient(#e6e6e6, #cecece);
        color: #222;
      }
    }
    a, a:visited {
      text-decoration: none;
    }
    a.previous-page { margin-right: 60px; }
  }
}

