body.bp {
  #sidebar {
    @include column(8);
    width: 270px;
    @include font-droid-sans;
    padding-top: 12px;
    padding-left: 35px;
    margin-right: 0;
    text-shadow: 1px 1px 0 #ffffff;
    h3 {
      @include font-francois-one;
      color: #FCFCFC;
      text-shadow: 1px 1px 3px #444;
      font-size: 25px;
      margin-bottom: 9px;
      padding-bottom: 3px; }
    .sidebar-section {
      margin-bottom: 24px;
    }
    a:hover {
      text-decoration: underline !important;
    }

    // Spacers between each li
    li {
      margin-bottom: 7px;
      margin-top: 0;
      padding-top: 6px;
      border-top: 1px solid #ccc;
      @include border-indent(0, 1px, 0, #fff);

      // Turn off border and padding for first li element
      &:first-child {
        border-top: none;
        @include border-indent(0px, 0px, 0px, #fff);
        padding-top: 0;
      }
    }

    // Latest / Related Posts
    // --------------------------------------------------------------
    #other-posts {
      ul {
        list-style: none;
        padding-left: 0;
        li {
          color: $light-header;
          text-shadow: 1px 1px 0 #fff;
          line-height: 16px;
          h6 {
            @include font-francois-one;
            font-weight: normal;
            color: $light-header;
            margin: 1px 0;
          }
          a {
            @include font-francois-one;
            font-weight: normal;
            text-decoration: none;
            color: $dark-gray;
            font-size: 14px;
            &:hover {
              color: $darker-gray;
            } } } } }

    // About
    // --------------------------------------------------------------
    #about {
      text-align: justify;
      p { @include font-droid-sans; }
      img.avatar {
        border: 3px solid #DDDDDD;
        border-radius: 7px;
        margin: 3px 0 15px 15px;
        width: 80px;
        height: 80px;
      }
    }

    // Stack Overflow
    // --------------------------------------------------------------
    #stack-overflow {
      img.stack-overflow {
        margin-top: 7px;
      }
    }

    // Google Site Search API
    // --------------------------------------------------------------
    #google-search {
      table { margin-bottom: 0; }
      table.gsc-branding { display: none; }
      .gsc-results {
        @include font-droid-sans;
      }
      .gsc-control {
        width: 250px;
      }
      td.gsc-input {
        padding-left: 0;
      }
      input.gsc-input {
        @include border-radius(2px);
        border: 1px solid #999999;
        padding: 3px;
        padding-left: 18px;
        width: 154px;
        background: url(/images/agile-toolkit-icons/atk-icons-nobg.png) 0px -318px no-repeat scroll white;
        -webkit-appearance: none;
        -webkit-box-sizing: content-box; }
      td.gsc-search-button {
        padding-right: 0;
      }
    }

    // Disqus Comments
    // --------------------------------------------------------------
    #recentcomments.dsq-widget {
      span.dsq-widget-comment {
        color: #444;
      }
      img.dsq-widget-avatar {
        padding: 0 7px 3px 0;;
      }
      a.dsq-widget-user {
        @include font-francois-one;
        font-weight: normal;
        color: $dark-gray;
        padding: 0 2px 0 0;
        text-decoration: none;
        &:hover {
          color: $darker-gray;
        }
      }
      p.dsq-widget-meta {
        margin-bottom: 0;
        a {
          color: $dark-gray;
          &:hover {
            color: $darker-gray; }
          @include font-francois-one;
          text-decoration: none;
          font-size: 12px; } }
      li.dsq-widget-item {
        padding-top: 10px;
      &:first-child {
        padding-top: 0; } } }

    // Twitter
    // --------------------------------------------------------------
    #tweets {
      margin-top: 10px;
      ul.tweet_list {
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
        .awesome, .epic {
          text-transform: uppercase; }
        li {
          overflow-y: auto;
          overflow-x: hidden;
          padding: 0.5em;
          padding-left: 0;
          margin-bottom: 1px;
          padding-top: 10px; }
        .tweet_time {
          @include font-francois-one;
          color: #444;
          a {
            text-decoration: none;
            color: $dark-gray;
            &:hover {
              color: $darker-gray; } } }
        .tweet_text {
          color: #444; }
        .tweet_avatar {
          padding: 0 7px 3px 0;
          float: left;
          img {
            vertical-align: middle; } } } } }
}

