// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";


// Helpers (mixins / sprites / variables)
// ----------------------------------------------------------------
@import "partials/base";
@import "partials/mixins";
@import "partials/icons";

// Layouts
// ----------------------------------------------------------------
@import "partials/sidebar";


//@import blueprint/form
// Import the non-default scaffolding module.
//@import blueprint/scaffolding

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities; }

//  +blueprint-debug
// +blueprint-interaction
// // Remove the scaffolding when you're ready to start doing visual design.
// // Or leave it in if you're happy with how blueprint looks out-of-the-box
// pre
//   :margin 0px
form.bp {}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  background-color: #f3f3f3;
  p, ol, ul {
    font-size: 12px;
  }
  a, a:visited {
    color: $dark-gray;
    text-shadow: 1px 1px 0 #ffffff; }
  a:hover {
    color: #333333; }
  a#fork-on-github img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    opacity: 0.65;
    &:hover {
      opacity: 0.7;
    }
  }
  #container {
    @include container; }
  #header {
    @include column(24);
    margin-top: 18px;
    padding-bottom: 10px;
    a {
      text-decoration: none; }
    #logo {
      @include column(9);
      h1, h2 {
        text-shadow: 1px 1px 0 #ffffff;
      }
      h1 {
        margin-bottom: 0px;
        font-family: 'Amaranth', fantasy, arial, serif;
        font-size: 42px;
      a:hover {
        color: #555555; } }
      h2 {
        color: #aaaaaa;
        font-family: 'Francois One', 'trebuchet MS', arial, sans-serif;
        font-size: 16px;
        margin: 3px 0 5px; } }
    #menu {
      @include column(14, true);
      font-family: 'Oswald',fantasy,arial,serif;
      margin-top: 25px;
      a, a:visited {
        color: #657590;
      }
      a:hover {
        color: #455580;
      }
      ul {
        list-style-type: none;
        float: right;
        margin: 0;
        background-color: #E7E7E7;
        border-bottom: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        border-radius: 5px 5px 5px 5px;
        li {
          display: inline;
          margin-left: 0;
          form {
            width: 100px;
            display: inline;
            input {
              width: 90px;
              @include border-radius(5px);
              border: 1px solid #999999;
              padding: 3px 3px 3px 14px;
              background: url(/images/agile-toolkit-icons/atk-icons-nobg.png) 0px -318px no-repeat scroll white;
              -webkit-appearance: none;
              -webkit-box-sizing: content-box; } } } } } }
  #content {
    @include column(14, true);
    @include prepend(1);
    @include append(1);
    padding-top: 9px;
    padding-left: 0;
    .post {
      p, h4 {
        font-family: 'Droid Sans', arial, sans-serif; }
      h4 {
        margin-bottom: 0px; }
      h4 + p {
        text-indent: 2em; }
      code {
        font-family: 'Droid Sans Mono', serif; }
      p {
        line-height: 140%; }
      .header {
        @include column(14, true);
        padding: 6px 0 3px 0;
        .title {
          display: inline-block;
          @include post-title;
          margin-bottom: 0;
          // limit width to allow room for social bar
          &.limit_width {
            @include column(11);
            width: 416px;
          }
          h3 {
            font-size: 23px;
            line-height: 110%;
            padding-bottom: 0;
            a, a:visited {
               text-decoration: none;
            }
          }
          h6 {
            text-shadow: 1px 1px 0 #FFFFFF;
            margin: 1px 0 2px 0;
          } }
        .social_bar {
          @include column(3, true);
          width: 120px;
          ul {
            list-style-type: none;
            float: right;
            margin-right: 0px;
            li {
              display: inline-block; } } } }
      .content {
        border-top: 1px solid #ccc;
        @include border-indent(0, 1px, 0, #fff);
        padding-top: 12px;
        clear: both;
      }
      img {
        @include border-shadow(3px, 3px, 5px, #999999);
        @include border-radius(7px); }
      .highlight {
        background-color: #303030;
        color: #d4d4d4;
        padding: 10px;
        margin-bottom: 20px;
        @include border-radius(7px);
        overflow: auto;
        border: {
          right:  2px solid #fff;
          bottom: 2px solid #fff;
        }
        pre {
          margin: 0px; } }
      .hackernews {
        font-size: 1.3em;
        text-align: right;
        .heart {
          color: #cc0000; }
        a, a:visited {
          background: transparent url(/images/hackernews.png) no-repeat center left;
          display: inline-block;
          padding-left: 16px; } }
      blockquote {
        p:before {
          font: 48px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
          content: "“";
          float: left;
          margin-top: -12px; }
        p:after {
          content: "”";
          font: 48px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
          float: right; } } }
    .post-excerpt {
      margin-bottom: 20px;
      @include post-title;
      h6 {
        margin: 0px; }
      p {
        font-family: 'Droid Sans', sans-serif; } }
    #search {
      .result {
        @include post-title; } }
    #projects {
      @include post-title;
      h2 {
        font-family: 'Oswald',fantasy,arial,serif;
        text-align: center;
        color: $dark-gray;
        margin-bottom: 0px; }
      h3 {
        color: $dark-gray; }
      h4 {
        font-family: 'Oswald',fantasy,arial,serif;
        text-align: center;
        color: $light-gray;
        a, a:visited {
          color: $light-gray; } }
      h6 {
        margin-bottom: 0px;
        a, a:visited {
          color: $light-gray; }
        strong {
          color: $dark-gray; } } } }
  .pagination {
    text-align: center;
    padding: 18px 0;
    border-top: 1px solid #ccc;
    @include border-indent(0, 1px, 0, #fff);
    h3 {
      display: inline-block;
      margin: 0 17px;
      background-color: #e4e4e4;
      border-radius: 7px 7px 7px 7px;
      padding: 10px 10px 9px 14px;
      vertical-align: middle;
      border-bottom: 1px solid #d2d2d2;
      border-right: 1px solid #d2d2d2;
      &:hover {
        background-color: #d2d2d2;
        a, a:visited {
          color: #333;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
  .not_found {
    h1, h2 {
      font-family: 'Oswald',fantasy,arial,serif;
      text-align: center;
    }
    h1 {
      font-size: 10em;
      margin: 65px 0 10px; }
    h2 {
      font-size: 5em;
      margin-bottom: 28px;
    }
    p {
      font-family: 'Droid Sans', serif;
      text-align: center;
      font-size: 19px; }
    .posts-list {
      padding-top: 35px;
      border-top: 2px solid #e0e0e0;
    } }
  #footer {
    @include column(24);
    color: $light-gray;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-size: 0.8em;
    padding: 15px; } }

  #_d ul li { float: left }

