// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Helpers (mixins / sprites / variables)
// ----------------------------------------------------------------
@import "partials/colors";
@import "partials/fonts";
@import "partials/icons";
@import "partials/mixins";
@import "partials/base";

// Layouts
// ----------------------------------------------------------------
@import "partials/header";
@import "partials/sidebar";
@import "partials/content";
@import "partials/pagination";
@import "partials/404";

//@import blueprint/form
// Import the non-default scaffolding module.
//@import blueprint/scaffolding

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities; }

//  +blueprint-debug
// +blueprint-interaction
// // Remove the scaffolding when you're ready to start doing visual design.
// // Or leave it in if you're happy with how blueprint looks out-of-the-box
// pre
//   :margin 0px
form.bp {}

html {
  @include background-gradient(#f9f9f9, #e7e7e7);
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  font-size: 12px;
  a, a:visited {
    color: #448844;
    text-shadow: 1px 1px 0 #ffffff; }
  a:hover, a:active {
    color: #B22222; }
  a#fork-on-github img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    opacity: 0.8;
  }
  h3 {
    font-size: 19px;
  }
  h1,h2,h3,h4,h5,h6 {
    a, a:visited {
      color: $dark-gray;
    }
    a:hover { color: $darker-gray; }
  }
  #container {
    @include container; }

  #footer {
    @include column(24);
    color: $light-header;
    text-align: center;
    @include font-droid-sans;
    font-size: 0.8em;
    padding: 15px; } }

  #_d ul li { float: left }

