:plain
  ---
  layout: default
  title: 404 - page not found
  ---
#content.not_found
  %h1 404
  %h2 Page Not Found
  %p I'm sorry, the page you are looking for does not exist.
  %p Have a look at one of these posts instead, if you like:
  .posts-list
    {% for post in site.posts limit:5 %}
    .post-excerpt
      %h3 <a href="{{ post.url }}">{{ post.title }}</a>
      %h6 {{ post.date | date: "%A, %B %d, %Y" }}
    {% endfor %}


{% include default_sidebar.html %}

