:plain
  ---
  layout: default
  title: Archive
  ---
#content
  %h2 Listing all posts
  .posts-list
    {% for post in site.posts %}
    {% include post_excerpt.html %}
    {% endfor %}


{% include default_sidebar.html %}

