:plain
  ---
  layout: default
  ---
#content
  .posts-list
    {% for post in paginator.posts %}
    .post
      {% include post_header.html %}
      .content
        {{ post.content }}
    {% endfor %}

  {% include pagination.html %}


{% include default_sidebar.html %}

