:plain
  ---
  layout: default
  ---
#content
  {% include adsense/banner_top.html %}
  .posts-list
    {% for post in paginator.posts %}
    .post
      .header
        .title
          %h3 <a href="{{ post.url }}" title="Click here to share & comment">{{ post.title }}</a>
          %h6 {{ post.date | date: "%A, %B %d, %Y" }}
          %span.divider #{"|"}
          %h6 tags: {{ post.tags | join:', ' }}
      .content
        {{ post.content }}
    {% endfor %}

  {% include pagination.html %}


{% include default_sidebar.html %}

