:plain
  ---
  layout: default
  ---
#content
  .posts-list
    {% for post in paginator.posts %}
    .post
      .header
        .title
          %h3 <a href="{{ post.url }}">{{ post.title }}</a>
          %h6
            {{ post.date | date: "%A, %B %d, %Y" }} #{"|"} tagged with {{ post.tags | join " " }}

      .content
        {{ post.content }}
    {% endfor %}

  {% include pagination.html %}

#sidebar
  %h3 Latest Posts
  %ul
    {% for post in site.posts limit:5 %}
    %li
      <a href="{{ post.url }}">{{ post.title }}</a>
      %br
      {{ post.date | date: "%B %d, %Y"}}
    {% endfor %}

  {% include common_sidebar.html %}

