.sidebar-section#about
  %h3 About
  <img align="right" alt="1" src="/images/about-avatar-80x80.jpg" class="avatar avatar-128 photo">
  %p
    Hi, I'm Nathan. I'm a full-time volunteer at a non-profit in Hong Kong called
    <a href="http://www.crossroads.org.hk">Crossroads</a>.<br />
    I make websites with <a href="http://rubyonrails.org/">Ruby on Rails</a>.
    This blog is where I post the things I learn at work,
    and the projects that I do in my spare time.

