.sidebar-section
  <a href='http://www.pledgie.com/campaigns/16154'>
  <img alt='Click here to lend your support to: MadeByNathan.com and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/16154.png?skin_name=chrome' border='0' />
  </a>

