%h3
.sidebar-section#stack-overflow
  <a href="http://stackoverflow.com/users/304706/nathan-f77">
  <img class="stack-overflow" src="http://stackoverflow.com/users/flair/304706.png" alt="Stack Overflow profile for nathan.f77 at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="Stack Overflow profile for nathan.f77 at Stack Overflow, Q&amp;A for professional and enthusiast programmers" height="58" width="208">
  </a>

