<ul class="profile-icons">
  <li>
    <a href='http://grooveshark.com/#/nathanf77' target='_blank' title='Grooveshark'>
      <div class='icon icons-grooveshark'></div>
    </a>
  </li>
  <li>
    <a href='http://www.last.fm/user/nathan_f77' target='_blank' title='Last.fm'>
      <div class='icon icons-lastfm'></div>
    </a>
  </li>
  <li>
    <a href='http://www.youtube.com/user/nathanf77' target='_blank' title='Youtube'>
      <div class='icon icons-youtube'></div>
    </a>
  </li>
  <li>
    <a href='http://twitter.com/ndbroadbent' target='_blank' title='Twitter'>
      <div class='icon icons-twitter'></div>
    </a>
  </li>
  <li>
    <a href='http://www.linkedin.com/profile/view?id=74450241' target='_blank' title='LinkedIn'>
      <div class='icon icons-linkedin'></div>
    </a>
  </li>
  <li>
    <a href='http://stackoverflow.com/users/304706/nathan-f77' target='_blank' title='Stack Overflow'>
      <div class='icon icons-stackoverflow'></div>
    </a>
  </li>
  <li>
    <a href='http://github.com/ndbroadbent' target='_blank' title='Fork me on Github'>
      <div class='icon icons-github'></div>
    </a>
  </li>
</ul>