---
layout: default
---
<h1>{{ site.baseurl }}</h1>
<div id='content'>
  <div class='post'>
    <div class='header'>
      <div class='title'>
        <h3>{{ page.title }}</h3>
        <h6>{{ page.date | date: "%A, %B %d, %Y" }}</h6>
        <span class='divider'>|</span>
        <h6>tags: {{ page.tags | join:', ' }}</h6>
        {% include add_this_page_title.html %}
      </div>
    </div>
    <div class='content'>
      {{ content }}
    </div>
    {% if page.hackernews_url %}
    <p class='hackernews'>
      Liked this post? Share the <span class="heart">♥</span> on <a href="{{ page.hackernews_url }}">Hacker News</a>
    </p>
    {% endif %}
  </div>
  <div id='addthis_footer'>
    {% include add_this_page_footer.html %}
  </div>
  {% include adsense/post_bottom_leaderboard.html %}
  <div id='disqus_thread'></div>
  <script type='text/javascript'>
    //<![CDATA[
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://madebynathan.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    //]]>
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
<div id='sidebar'>
  {% include sidebar/search.html %}
  {% include adsense/sidebar_square.html %}
  {% include sidebar/related_posts.html %}
  {% include sidebar/about.html %}
  {% include sidebar/twitter.html %}
  {% include sidebar/widgets.html %}
</div>
