---
layout: default
---
<h1>{{ site.baseurl }}</h1>
<div id='content'>
  <div class='post'>
    <div class='header'>
      <div class='title limit_width'>
        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        <h6>{{ page.date | date: "%A, %B %d, %Y" }} | tagged with {{ page.tags | join " " }}</h6>
      </div>
      <div class='social_bar'>
        <ul>
          <li>
            <div>
              <a href="http://twitter.com/share" class="twitter-share-button"
                data-via="madebynathan"
                data-counturl="{{ site.url }}{{ page.url }}"
                data-url="{% if page.short_url %}{{ page.short_url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}"
                data-text="{{ page.title }}"
                data-count="none"
              >Tweet</a>
            </div>
          </li>
          <li>
            <div class='g-plusone' data-count='false' data-href='{{ post.url }}' data-size='standard'></div>
          </li>
        </ul>
      </div>
    </div>
    <div class='content'>
      {{ content }}
    </div>
    {% if page.hackernews_url %}
    <p class='hackernews'>
      Liked this post? Share the <span class="heart">♥</span> on <a href="{{ page.hackernews_url }}">Hacker News</a>
    </p>
    {% endif %}
  </div>
  <div id='disqus_thread'></div>
  <script type='text/javascript'>
    //<![CDATA[
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://madebynathan.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    //]]>
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
<div id='sidebar'>
  {% include sidebar/search.html %}
  {% include sidebar/related_posts.html %}
  {% include sidebar/about.html %}
  {% include sidebar/twitter.html %}
  {% include sidebar/stack_overflow.html %}
</div>
