---
layout: default
---
<h1>{{ site.baseurl }}</h1>
<div id='content'>
  {% include adsense/header_leaderboard.html %}
  <div class='post single'>
    <div class='header'>
      <div class='title'>
        <h3>{{ page.title }}</h3>
        <div class='subtitle'>
          <h6>{{ page.date | date: "%A, %B %d, %Y" }}</h6>
          <span class='divider'>|</span>
          <h6>tags: {{ page.tags | join:', ' }}</h6>
          <span class='divider'>|</span>
        </div>
        {% include add_this_page_title.html %}
      </div>
    </div>
    <div class='content'>
      {{ content }}
    </div>
    {% if page.hackernews_url %}
    <p class='hackernews'>
      Liked this post? Share the <span class="heart">♥</span> on <a href="{{ page.hackernews_url }}">Hacker News</a>
    </p>
    {% endif %}
  </div>
  <div id='addthis_footer'>
    {% include add_this_page_footer.html %}
  </div>
  {% include adsense/post_bottom_leaderboard.html %}
  <div id='disqus_thread'></div>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
<div id='sidebar'>
  {% include sidebar/about.html %}
  {% include sidebar/search.html %}
  {% include sidebar/related_posts.html %}
  {% include adsense/sidebar_square.html %}
  {% include sidebar/twitter.html %}
  {% include sidebar/widgets.html %}
</div>
