#sidebar
  {% include sidebar/about.html %}
  {% include sidebar/adsense.html %}
  {% include sidebar/search.html %}
  {% include sidebar/latest_posts.html %}
  {% include sidebar/twitter.html %}
  {% include sidebar/recent_comments.html %}
  {% include sidebar/stack_overflow.html %}

