#header
  #logo
    %ul
      %li
        %h1
          %a(href="/") {{ site.title }}
      %li
        %h2 {{ site.description }}
  #menu
    %ul.site_links
      %li
        %a(href="/tags" title="Tag cloud of categories")
          .icon.icons-tags
          %span.icon-text categories
      %li
        %a(href="/archive.html" title="Archive of all posts")
          .icon.icons-archive
          %span.icon-text archive
      %li
        %a(href="/projects" title="Project gallery")
          .icon.icons-projects
          %span.icon-text projects
      %li
        %a(href="http://feeds.feedburner.com/madebynathan" title="Follow me via RSS")
          .icon.icons-rss
          %span.icon-text rss


      %li.no-text
        %a(href="http://grooveshark.com/#/nathanf77" title="Grooveshark" target="_blank")
          .icon.icons-grooveshark
      %li.no-text
        %a(href="http://www.last.fm/user/nathan_f77" title="Last.fm" target="_blank")
          .icon.icons-lastfm
      %li.no-text
        %a(href="http://www.youtube.com/user/nathanf77" title="Youtube" target="_blank")
          .icon.icons-youtube
      %li.no-text
        %a(href="http://twitter.com/nathanf77" title="Twitter" target="_blank")
          .icon.icons-twitter
      %li.no-text
        %a(href="http://www.linkedin.com/profile/view?id=74450241" title="LinkedIn" target="_blank")
          .icon.icons-linkedin
      %li.no-text
        %a(href="http://stackoverflow.com/users/304706/nathan-f77" title="Stack Overflow" target="_blank")
          .icon.icons-stackoverflow
      %li.no-text
        %a(href="http://github.com/ndbroadbent" title="Fork me on Github" target="_blank")
          .icon.icons-github

