.header
  .title
    %h3 <a href="{{ post.url }}">{{ post.title }}</a>
    %h6 {{ post.date | date: "%A, %B %d, %Y" }}
    %span.divider #{"|"}
    %h6 tags: {{ post.tags | join:', ' }}
    {% include add_this_post_title.html %}

