.post.excerpt
  .header
    .title
      %h3 <a href="{% include post_url %}">{{ post.title }}</a>
      %h6 {{ post.date | date: "%A, %B %d, %Y" }}
      %span.divider #{"|"}
      %h6 tags: {{ post.tags | join:', ' }}
  {{ post.excerpt }}

