// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > header {
  background-image: url('/images/header_pattern.png');
}

// Fix for fancybox loading image
body > div#fancybox-loading {
  background: url('/images/fancybox_sprite.png');
  background-position: 0 -108px;
}
body > div#fancybox-loading , body > div#fancybox-loading div {
  border: 0;
}

ul li {
  list-style-position: outside;
  margin-left: 1.3em;
}

ul.profile-icons {
  float: right;
  li, li a { border-left: none }
  li {
    margin-left: 7px;
    a { padding-left: 0px; }
    .icon {
      opacity: 0.7;
      &:hover { opacity: 1; }
    }
  }
}

.maskImage ul.subscription { top: .45em; }

.google_search_form {
  width: 170px;
  top: 0.2em;
  position: relative;
}

#about img.avatar { margin-right: 16px; }


#bitcoin-donation {
  margin-top: 10px;

  a {
    text-decoration: none;
    white-space: normal;
  }

  font-size: 14px;
  img {
    border: none;
    box-shadow: none;
  }
}

#donate {
  h1 { margin-bottom: 16px; }
}